@charset "UTF-8";

fieldset{
	margin-bottom: 0 !important;
}

.mainContainer{
	margin-top: 1em;
	/*border-radius: 5px;
	padding: 0em;*/
}

.menuContainer{
	padding: .5em;
}

.formContainer{
	padding: .5em 1em 0em 1em;
}

.sectionContent{
	background: #fafdff;
	margin-bottom: 1em;
	padding: 0em;
	/*transition: all .1s linear;*/
}

.dataContainer{
	padding: .1em .1em .1em 0;
}

.top{
	margin-top: 1em;
}

.saveButton{
	background-color: rgb(76, 146, 32);
	border: 0;
	color: #FFF;
	min-height: 2em;
	min-width: 150px;
	padding: .5em 1em .5em 1em;
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
       -moz-box-shadow:	2px 2px 2px 0 rgba(0, 0, 0, 0.3);
            box-shadow:	2px 2px 2px 0 rgba(0, 0, 0, 0.3);
}