@charset "UTF-8";

.menuContainer{
	padding: .5em;
}

#addButton{
	background:#6abb37;
	color:#FFF !important;
}
#addButton:hover{
	background-color:#4a9b17 !important;
}

.filesContainer{
	padding: .5em 1em 1em 1em;
}

.sectionContent{
	background: #fafdff;
	padding: 0em;
	/*transition: all .1s linear;*/
}

.titleContainer{
	padding: .5em .5em .5em 1em;
	border-bottom: 1px #CCC solid;
	background: #2b85de;
	color: #FFF;
}

.dataContainer{
	padding: .1em .1em .1em 0;
}

.top{
	margin-top: 1em;
}