@charset "UTF-8";

.menuContainer{
	padding: .5em;
}

#addButton{
	background: #4c9220;
	background: -moz-linear-gradient(top, #4c9220 0, #366817 150%);
	background: -webkit-linear-gradient(top, #4c9220 0, #366817 150%);
	background: -o-linear-gradient(top, #4c9220 0, #366817 150%);
	background: -ms-linear-gradient(top, #4c9220 0, #366817 150%);
	background: linear-gradient(to bottom, #4c9220 0, #366817 150%);
	color: white;
}

.file-container{
	margin: .5em;
	text-align: center;
}

.file-container > .file-preview{
	height: 5em;
}

.file-container > .file-name{
	padding: 5px;
}

.store-item{
	background-color: #EEE;
	border: 1px solid #AAA;
	border-radius: 3px;
	text-align: center;
}

.store-item > .store-preview{

}

.store-item > .store-name{

}

.store-item > .store-button{

}

.sectionContent{
	background: #fafdff;
	padding: 0em;
	/*transition: all .1s linear;*/
}

.dataContainer{
	padding: .1em .1em .1em 0;
}

.top{
	margin-top: 1em;
}