@charset "UTF-8";

.pointsContainer{
	margin-top: 1em;
	/*border-radius: 5px;
	padding: 0em;*/
}

.pointContainer{
	padding: .5em;
}

.pointContent{
	background: #fafdff;
	padding: 0em;
	/*transition: all .1s linear;*/
}

.titleContainer{
	padding: .5em;
}

#actionButtons i{
	cursor: pointer;
}

#addButton{
	background: #4c9220;
	background: -moz-linear-gradient(top, #4c9220 0, #366817 150%);
	background: -webkit-linear-gradient(top, #4c9220 0, #366817 150%);
	background: -o-linear-gradient(top, #4c9220 0, #366817 150%);
	background: -ms-linear-gradient(top, #4c9220 0, #366817 150%);
	background: linear-gradient(to bottom, #4c9220 0, #366817 150%);
	color:#FFF;
}

.pointContent .mapContainer{
	/**/
}

.pointContent .mapContainer img{
	background: #DDD;
	height: 150px;
	width: 100%;
}

.pointContent .infoContainer{
	padding: .5em;
}

.infoContainer a{
	color: #555;
	line-height: .5em;
}

.linkContainer{
	padding: .1em;
}

.infoContainer .twitter-logo{
	color: #00aced;
}

.infoContainer .facebook-logo{
	color: #3B5998;
}
